# Data Manipulation with pandas
Run the hidden code cell below to import the data used in this course.

In [ ]:
# Import the course packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import the four datasets
avocado = pd.read_csv("datasets/avocado.csv")
homelessness = pd.read_csv("datasets/homelessness.csv")
temperatures = pd.read_csv("datasets/temperatures.csv")
walmart = pd.read_csv("datasets/walmart.csv")

**CHAPTER 1: Introduction to DataFrames**

Pandas is a Python package for data manipulation, it can also be used for data visualization.
It is built on the NumPy and Matplotlib package.

Methods in Pandas
1. head() - Displays the top 5 rows of the DataFrame.
2. info() - Names of columns, datatypes, and if there are any missing values.
3. describe() - Summary ststistics.

Attributes - No parenthesis ()
shape - Returns number of rows and columns.

Dataframes consists of 3 components stored as attributes namely:
1. columns
2. values
3. index

_Add your notes here_

In [3]:
import pandas as pd

homelessness = pd.read_csv('datasets/homelessness.csv')

# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

# Print the shape of homelessness
print(homelessness.shape)

# Print a description of homelessness
print(homelessness.describe())

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB
None
(51, 5)
         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [5]:
# Import pandas using the alias pd
import pandas as pd
homelessness = pd.read_csv('datasets/homelessness.csv')

# Print the values of homelessness
print(homelessness.values)

# Print the column index of homelessness
print(homelessness.columns)

# Print the row index of homelessness
print(homelessness.index)

homelessness.sort_values("state_pop")

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
RangeIndex(start=0, stop=51, step=1)

                region                 state  ...  family_members  state_pop
50            Mountain               Wyoming  ...           205.0     577601
45         New England               Vermont  ...           511.0     624358
8       South Atlantic  District of Columbia  ...          3134.0     701547
1              Pacific                Alaska  ...           582.0     735139
34  West North Central          North Dakota  ...            75.0     758080
41  West North Central          South Dakota  ...           323.0     878698
7       South Atlantic              Delaware  ...           374.0     965479
39         New England          Rhode Island  ...           354.0    1058287
26            Mountain               Montana  ...           422.0    1060665
19         New England                 Maine  ...          1066.0    1339057
29         New England         New Hampshire  ...           615.0    1353465
11             Pacific                Hawaii  ...          2399.0    1420593
12            Mountain                 Idaho  ...           715.0    1750536
48      South Atlantic         West Virginia  ...           222.0    1804291
27  West North Central              Nebraska  ...           676.0    1925614
31            Mountain            New Mexico  ...           602.0    2092741
16  West North Central                Kansas  ...           773.0    2911359
24  East South Central           Mississippi  ...           328.0    2981020
3   West South Central              Arkansas  ...           432.0    3009733
28            Mountain                Nevada  ...           486.0    3027341
15  West North Central                  Iowa  ...          1038.0    3148618
44            Mountain                  Utah  ...           972.0    3153550
6          New England           Connecticut  ...          1696.0    3571520
36  West South Central              Oklahoma  ...          1048.0    3940235
37             Pacific                Oregon  ...          3337.0    4181886
17  East South Central              Kentucky  ...           953.0    4461153
18  West South Central             Louisiana  ...           519.0    4659690
0   East South Central               Alabama  ...           864.0    4887681
40      South Atlantic        South Carolina  ...           851.0    5084156
23  West North Central             Minnesota  ...          3250.0    5606249
5             Mountain              Colorado  ...          3250.0    5691287
49  East North Central             Wisconsin  ...          2167.0    5807406
20      South Atlantic              Maryland  ...          2230.0    6035802
25  West North Central              Missouri  ...          2107.0    6121623
14  East North Central               Indiana  ...          1482.0    6695497
42  East South Central             Tennessee  ...          1744.0    6771631
21         New England         Massachusetts  ...         13257.0    6882635
2             Mountain               Arizona  ...          2606.0    7158024
47             Pacific            Washington  ...          5880.0    7523869
46      South Atlantic              Virginia  ...          2047.0    8501286
30        Mid-Atlantic            New Jersey  ...          3350.0    8886025
22  East North Central              Michigan  ...          3142.0    9984072
33      South Atlantic        North Carolina  ...          2817.0   10381615
10      South Atlantic               Georgia  ...          2556.0   10511131
35  East North Central                  Ohio  ...          3320.0   11676341
13  East North Central              Illinois  ...          3891.0   12723071
38        Mid-Atlantic          Pennsylvania  ...          5349.0   12800922
32        Mid-Atlantic              New York  ...         52070.0   19530351
9       South Atlantic               Florida  ...          9587.0   21244317
43  West South Central                 Texas  ...          6111.0   28628666
4              Pacific            California  ...         20964.0   39461588

[51 rows x 5 columns]

**Sorting and Subsetting**

Sorting: Sort rows using the sort_values() method, passing the column_name you want to sort by in the parenthesis.
1. df.sort_values('column_name') - This sorts in ascending order (smallest to largest)
2. df.sort_values('column_name', ascending = False) - This sorts in descending order.
3. df.sort_values(['column_name1', 'column_name2']) - This sorts by multiple values.
4. df.sort_values(['column_name1', 'column_name2'], ascending = [True, False]) - This sorts by multiple values.

Subsetting Columns: 
1. df['column_name'] - Gives result in series.
2. df[['column_name1', 'column_name2']] or set = ['column_name1', 'column_name2'], df[set]

Subsetting Rows:
1. df['column_name'] > 25 - Returns boolean values of true and false.
2. df[df['column_name'] > 25] - Returns row values where true.
3. Subset based on strings using ==
4. Subset based on dates, compare a column to date values "yyyy-mm-dd"
5. Using isin() method.

In [4]:
import pandas as pd
homelessness = pd.read_csv('datasets/homelessness.csv')

# Sort homelessness by individuals
homelessness_ind = homelessness.sort_values('individuals')

# Print the top few rows
print(homelessness_ind.head())

# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values('family_members', ascending = False)

# Print the top few rows
print(homelessness_fam.head())

# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(['region','family_members'], ascending = [True, False])

# Print the top few rows
print(homelessness_reg_fam.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358
                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666
                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

In [6]:
import pandas as pd
homelessness = pd.read_csv('datasets/homelessness.csv')

# Select the individuals column
individuals = homelessness[['individuals']]

# Print the head of the result
print(individuals.head())

# Select the state and family_members columns
state_fam = homelessness[['state', 'family_members']]

# Print the head of the result
print(state_fam.head())

# Select only the individuals and state columns, in that order
ind_state = homelessness[['individuals', 'state']]

# Print the head of the result
print(ind_state.head())

   individuals
0       2570.0
1       1434.0
2       7259.0
3       2280.0
4     109008.0
        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0
   individuals       state
0       2570.0     Alabama
1       1434.0      Alaska
2       7259.0     Arizona
3       2280.0    Arkansas
4     109008.0  California

In [11]:
import pandas as pd
homelessness = pd.read_csv('datasets/homelessness.csv')

# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness['individuals'] > 10000]

# See the result
print(ind_gt_10k)

# Filter for rows where region is Mountain
mountain_reg = homelessness[homelessness['region'] == 'Mountain']

# See the result
print(mountain_reg)

# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = homelessness[(homelessness['family_members'] < 1000) & (homelessness['region'] == 'Pacific')]

# See the result
print(fam_lt_1k_pac)

# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = homelessness[homelessness['region'].isin(['South Atlantic', 'Mid-Atlantic'])]

# See the result
print(south_mid_atlantic)

# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[homelessness['state'].isin(canu)]

# See the result
print(mojave_homelessness)

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869
      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601
    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139
            region                 state  ...  family_members  state_pop
7   South Atlantic              Delaware  ...           374.0     965479
8   South Atlantic  District of Columbia  ...          3134.0     701547
9   South Atlantic               Florida  ...          9587.0   21244317
10  South Atlantic               Georgia  ...          2556.0   10511131
20  South Atlantic              Maryland  ...          2230.0    6035802
30    Mid-Atlantic            New Jersey  ...          3350.0    8886025
32    Mid-Atlantic              New York  ...         52070.0   19530351
33  South Atlantic        North Carolina  ...          2817.0   10381615
38    Mid-Atlantic          Pennsylvania  ...          5349.0   12800922
40  South Atlantic        South Carolina  ...           851.0    5084156
46  South Atlantic              Virginia  ...          2047.0    8501286
48  South Atlantic         West Virginia  ...           222.0    1804291

[12 rows x 5 columns]
      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

**New Columns**

Creating new columns from existing columns in the dataframe. It can be called transforming dataframes, mutating a dataframe, and FEATURE ENGINEERING.

In [12]:
import pandas as pd
homelessness = pd.read_csv('datasets/homelessness.csv')

# Add total col as sum of individuals and family_members
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']

# Add p_individuals col as proportion of total that are individuals
homelessness['p_individuals'] = homelessness['individuals'] / homelessness['total']

# See the result
print(homelessness)

                region                 state  ...     total  p_individuals
0   East South Central               Alabama  ...    3434.0       0.748398
1              Pacific                Alaska  ...    2016.0       0.711310
2             Mountain               Arizona  ...    9865.0       0.735834
3   West South Central              Arkansas  ...    2712.0       0.840708
4              Pacific            California  ...  129972.0       0.838704
5             Mountain              Colorado  ...   10857.0       0.700654
6          New England           Connecticut  ...    3976.0       0.573441
7       South Atlantic              Delaware  ...    1082.0       0.654344
8       South Atlantic  District of Columbia  ...    6904.0       0.546060
9       South Atlantic               Florida  ...   31030.0       0.691041
10      South Atlantic               Georgia  ...    9499.0       0.730919
11             Pacific                Hawaii  ...    6530.0       0.632619
12            Mountain                 Idaho  ...    2012.0       0.644632
13  East North Central              Illinois  ...   10643.0       0.634408
14  East North Central               Indiana  ...    5258.0       0.718144
15  West North Central                  Iowa  ...    2749.0       0.622408
16  West North Central                Kansas  ...    2216.0       0.651173
17  East South Central              Kentucky  ...    3688.0       0.741594
18  West South Central             Louisiana  ...    3059.0       0.830337
19         New England                 Maine  ...    2516.0       0.576312
20      South Atlantic              Maryland  ...    7144.0       0.687850
21         New England         Massachusetts  ...   20068.0       0.339396
22  East North Central              Michigan  ...    8351.0       0.623758
23  West North Central             Minnesota  ...    7243.0       0.551291
24  East South Central           Mississippi  ...    1352.0       0.757396
25  West North Central              Missouri  ...    5883.0       0.641849
26            Mountain               Montana  ...    1405.0       0.699644
27  West North Central              Nebraska  ...    2421.0       0.720777
28            Mountain                Nevada  ...    7544.0       0.935578
29         New England         New Hampshire  ...    1450.0       0.575862
30        Mid-Atlantic            New Jersey  ...    9398.0       0.643541
31            Mountain            New Mexico  ...    2551.0       0.764014
32        Mid-Atlantic              New York  ...   91897.0       0.433387
33      South Atlantic        North Carolina  ...    9268.0       0.696051
34  West North Central          North Dakota  ...     542.0       0.861624
35  East North Central                  Ohio  ...   10249.0       0.676066
36  West South Central              Oklahoma  ...    3871.0       0.729269
37             Pacific                Oregon  ...   14476.0       0.769481
38        Mid-Atlantic          Pennsylvania  ...   13512.0       0.604130
39         New England          Rhode Island  ...    1101.0       0.678474
40      South Atlantic        South Carolina  ...    3933.0       0.783626
41  West North Central          South Dakota  ...    1159.0       0.721311
42  East South Central             Tennessee  ...    7883.0       0.778764
43  West South Central                 Texas  ...   25310.0       0.758554
44            Mountain                  Utah  ...    2876.0       0.662031
45         New England               Vermont  ...    1291.0       0.604183
46      South Atlantic              Virginia  ...    5975.0       0.657406
47             Pacific            Washington  ...   22304.0       0.736370
48      South Atlantic         West Virginia  ...    1243.0       0.821400
49  East North Central             Wisconsin  ...    4907.0       0.558386
50            Mountain               Wyoming  ...     639.0       0.679186

[51 rows x 7 columns]

In [13]:
# In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new pandas skills to find out.

import pandas as pd
homelessness = pd.read_csv('datasets/homelessness.csv')

# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness['individuals'] / homelessness['state_pop'] 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness["indiv_per_10k"] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values("indiv_per_10k",ascending = False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[['state', 'indiv_per_10k']]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

**CHAPTER 2: Summary Statistics**
Summary statistics are exactly what they sound like - they summarize many numbers in one statistic. 

Aggregating Data
You can call these methods on columns in a dataframe
mean(), median(), mode(), max(), min(), var(), std(), sum()

CUmmulative Statistics
1. cumsum() (returns cummulative sum of each row and adds up as it goes down the column)
2. cummin()
3. cummax()
4. cumprod()

Compute Custom Summary Statistics
1. Use the .agg() function: By defining a function.
2. The agg() function can accept multiple columns when called and multiple function names.

In [2]:
# Using the Walmart database
import pandas as pd
sales = pd.read_csv('datasets/walmart.csv')

# Print the head of the sales DataFrame
print(sales.head())

# Print the info about the sales DataFrame
print(sales.info())

# Print the mean of weekly_sales
print(sales['weekly_sales'].mean())

# Print the median of weekly_sales
print(sales['weekly_sales'].median())

# Working with dates
# Print the maximum of the date column
print(sales['date'].max())

# Print the minimum of the date column
print(sales['date'].min())

   store type  department  ... temperature_c  fuel_price_usd_per_l  unemployment
0      1    A           1  ...      5.727778              0.679451         8.106
1      1    A           1  ...      8.055556              0.693452         8.106
2      1    A           1  ...     16.816667              0.718284         7.808
3      1    A           1  ...     22.527778              0.748928         7.808
4      1    A           1  ...     27.050000              0.714586         7.808

[5 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 684.0+ KB
None
23843.95014850566
12049.064999999999

In [8]:
# Using the .agg() function
import pandas as pd
sales = pd.read_csv('datasets/walmart.csv')

# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", 'fuel_price_usd_per_l', 'unemployment']].agg(iqr))

# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

print(np.median(sales['temperature_c']))

16.583333333333336
temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64
        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099
16.966666666666665

In [14]:
# Getting the sales_1_1 dataframe from sales which contains the department 1 of store 1

import pandas as pd
sales = pd.read_csv('datasets/walmart.csv')

sales_1_1 = sales[(sales['department'] == 1) & (sales['store'] == 1)]
# print(sales_1_1)

# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values('date')

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_max_sales'] = sales_1_1['weekly_sales'].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

          date  weekly_sales  cum_weekly_sales  cum_max_sales
0   2010-02-05      24924.50          24924.50       24924.50
1   2010-03-05      21827.90          46752.40       24924.50
2   2010-04-02      57258.43         104010.83       57258.43
3   2010-05-07      17413.94         121424.77       57258.43
4   2010-06-04      17558.09         138982.86       57258.43
5   2010-07-02      16333.14         155316.00       57258.43
6   2010-08-06      17508.41         172824.41       57258.43
7   2010-09-03      16241.78         189066.19       57258.43
8   2010-10-01      20094.19         209160.38       57258.43
9   2010-11-05      34238.88         243399.26       57258.43
10  2010-12-03      22517.56         265916.82       57258.43
11  2011-01-07      15984.24         281901.06       57258.43

**Counting**

Summarizing categorical data using counting.
1. Dropping duplicates using the .drop_duplicates(subset = 'column_name') function. It takes an argument SUBSET which is the column we want to find the duplicates in.
2. Dropping Duplicate Pairs .drop_duplicates(subset = ['column1', 'column2'])
3. Counting the values of a column df['column'].value_counts(sort = True) or .value_counts(normalize = True) to get the proportion to the total.

In [16]:
import pandas as pd
sales = pd.read_csv('datasets/walmart.csv')

# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset = ['store', 'type'])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset = ['store', 'department'])
print(store_depts.head())

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales['is_holiday'] == True].drop_duplicates(subset = 'date')

# Print date col of holiday_dates
print(holiday_dates['date'])

# Count the number of stores of each type
store_counts = store_types['type'].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = store_types['type'].value_counts(normalize = True)
print(store_props)

# Count the number of each department number and sort
dept_counts_sorted = store_depts['department'].value_counts(sort = True)
print(dept_counts_sorted)

# Get the proportion of departments of each number and sort
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

      store type  department  ... temperature_c  fuel_price_usd_per_l  unemployment
0         1    A           1  ...      5.727778              0.679451         8.106
901       2    A           1  ...      4.550000              0.679451         8.324
1798      4    A           1  ...      6.533333              0.686319         8.623
2699      6    A           1  ...      4.683333              0.679451         7.259
3593     10    B           1  ...     12.411111              0.782478         9.765

[5 rows x 9 columns]
    store type  department  ... temperature_c  fuel_price_usd_per_l  unemployment
0       1    A           1  ...      5.727778              0.679451         8.106
12      1    A           2  ...      5.727778              0.679451         8.106
24      1    A           3  ...      5.727778              0.679451         8.106
36      1    A           4  ...      5.727778              0.679451         8.106
48      1    A           5  ...      5.727778              0.679451         8.106

[5 rows x 9 columns]
498     2010-09-10
691     2011-11-25
2315    2010-02-12
6735    2012-09-07
6810    2010-12-31
6815    2012-02-10
6820    2011-09-09
Name: date, dtype: object
A    11
B     1
Name: type, dtype: int64
A    0.916667
B    0.083333
Name: type, dtype: float64
1     12
55    12
72    12
71    12
67    12
      ..
37    10
48     8
50     6
39     4
43     2
Name: department, Length: 80, dtype: int64
1     0.012917
55    0.012917
72    0.012917
71    0.012917
67    0.012917
        ...
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: department, Length: 80, dtype: float64

**Grouped Summary Statistics**

1. Using the .groupby() function
2. Find multiple columns using the .agg() function.
3. Group by multiple columns and aggregate by 1 column.
4. Group by multiple columns and aggregate by multiple columns.

In [1]:
# While .groupby() is useful, you can calculate grouped summary statistics without it.

# Walmart distinguishes three types of stores: "supercenters," "discount stores," and "neighborhood markets," encoded in this dataset as type "A," "B," and "C." In this exercise, you'll calculate the total sales made at each store type, without using .groupby(). You can then use these numbers to see what proportion of Walmart's total sales were made at each type.

import pandas as pd
sales = pd.read_csv('datasets/walmart.csv')

# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales['type'] == 'B']['weekly_sales'].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales[sales['type'] == 'C']['weekly_sales'].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

[0.9097747 0.0902253 0.       ]

In [2]:
# The .groupby() method makes life much easier. In this exercise, you'll perform the same calculations as last time, except you'll use the .groupby() method. You'll also perform calculations on data grouped by two variables to see if sales differ by store type depending on if it's a holiday week or not.

import pandas as pd
sales = pd.read_csv('datasets/walmart.csv')

# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Calculate the proportion of sales at each store type by dividing by the sum of sales_by_type. Assign to sales_propn_by_type.
# Get proportion for each type
sales_propn_by_type = sales_by_type / sum(sales_by_type)
print(sales_propn_by_type)

# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(['type', 'is_holiday'])['weekly_sales'].sum()
print(sales_by_type_is_holiday)

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64
type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

In [1]:
import pandas as pd
sales = pd.read_csv('datasets/walmart.csv')

# Import numpy with the alias np
import numpy as np

# Get the min, max, mean, and median of weekly_sales for each store type using .groupby() and .agg(). Store this as sales_stats. Make sure to use numpy functions!
# Get the min, max, mean, and median of unemployment and fuel_price_usd_per_l for each store type. Store this as unemp_fuel_stats.

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby('type')['weekly_sales'].agg([np.min,np.max,np.mean,np.median])

# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby('type')['unemployment', 'fuel_price_usd_per_l'].agg([np.min,np.max,np.mean,np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

        amin       amax          mean    median
type
A    -1098.0  293966.05  23674.667242  11943.92
B     -798.0  232558.51  25696.678370  13336.08
     unemployment                   ... fuel_price_usd_per_l
             amin   amax      mean  ...                 amax      mean    median
type                                ...
A           3.879  8.992  7.972611  ...             1.107410  0.744619  0.735455
B           7.170  9.765  9.279323  ...             1.107674  0.805858  0.803348

[2 rows x 8 columns]

**Pivot Tables**
ANother way of grouping in Python.

## Explore Datasets
Use the DataFrames imported in the first cell to explore the data and practice your skills!
- Print the highest weekly sales for each `department` in the `walmart` DataFrame. Limit your results to the top five departments, in descending order. If you're stuck, try reviewing this [video](https://campus.datacamp.com/courses/data-manipulation-with-pandas/aggregating-dataframes?ex=1).
- What was the total `nb_sold` of organic avocados in 2017 in the `avocado` DataFrame? If you're stuck, try reviewing this [video](https://campus.datacamp.com/courses/data-manipulation-with-pandas/slicing-and-indexing-dataframes?ex=6).
- Create a bar plot of the total number of homeless people by region in the `homelessness` DataFrame. Order the bars in descending order. Bonus: create a horizontal bar chart. If you're stuck, try reviewing this [video](https://campus.datacamp.com/courses/data-manipulation-with-pandas/creating-and-visualizing-dataframes?ex=1).
- Create a line plot with two lines representing the temperatures in Toronto and Rome. Make sure to properly label your plot. Bonus: add a legend for the two lines. If you're stuck, try reviewing this [video](https://campus.datacamp.com/courses/data-manipulation-with-pandas/creating-and-visualizing-dataframes?ex=1).